/* ---------------------------------------------------------------------------

the wind theme by @anchorwind

Readme:
https://github.com/ancwind-dev/wind-obsidian-theme

-----------------------------------------------------------------------------

*/

:root body {
	--border-width: 2px;
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 2px;
	--checkbox-color:	#7F948A;
	--checkbox-color-hover: #7F948A;
	--toggle-radius: 15px;
	--toggle-thumb-radius: 10px;
	--slider-thumb-radius: 10px;

	/* Accent & Main color*/	
	--accent-h: 151;
	--accent-s: 9%;
	--accent-l: 54%;

	/* Radiuses define the rounded corners for UI elements. */
	--radius-s: 5px;
  --radius-m: 8px;
  --radius-l: 12px;
	--radius-xl: 16px;

	/* Button's radius in UI */
	--button-radius: 5px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


/* for css-snippet (future)
.grid-bg {
  background-size: 20px 20px;
  background-position: center center;
  background-image:
    linear-gradient(to right, var(--grid-line-color-1, #c7c7c740) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line-color-2, #afafaf40) 1px, transparent 1px);
}

.dot-bg {
  background-image: radial-gradient(circle, var(--grid-dot-color, #c7c7c780) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center center;
}

.dot-red-bg {
  background-image: radial-gradient(circle, var(--grid-dot-color, #ce414180) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center center;
}
*/